*{
    margin: 0;
}
.blor{
    background: #000;
 
}
.blor-img{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.blor-text{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #fff;
    position: relative;
    top: -70px;
}
.blor-text h1{
    font-size: 70px;
    color: #DAC5A7;
}
.dev-bol{
    display: flex;
    justify-content: center;
}
.blor-text p{
    display: flex;
    justify-content: center;
    color: #DAC5A799;
}
.premi{
    margin-top: 10px;
}
.blor-img-2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.blor-img-2 img{
    width: 1500px
}
.blor-border{
    border: 1px solid #DAC5A726;
    width: 400px;
    height: 300px;
    color: #fff;
    background: #DAC5A70D;
    margin: 0 auto;
}
.blor-wid{
    width: 350px;
    margin: 40px auto;
}
.blor-wid h2{
    margin-top: 10px;
    color: #DAC5A7;
}
.blor-wid p{
    margin-top: 20px;
    color: #DAC5A7;
}
.about-blor p{
    margin-top: 50px;
}
.content-blor{
    display: flex;
    justify-content: space-around;
    width: 1500px;
    margin: 100px auto;
}
.blor-img-next{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.client-text-2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.client-2-nav h1{
    display: flex;
    justify-content: center;
    font-size: 55px;
    color: #DAC5A7;
}
.client-2-nav p{
    display: flex;
    justify-content: center;
    color: #DAC5A799;
}
.see{
    margin-top: 10px;
}
.client-border-bor{
    border: 1px solid #DAC5A726;
    width: 550px;
    height: 350px;
    margin: 0 auto;
    background: #DAC5A70D;

}
.client-border-bor-2{
    border: 1px solid #DAC5A726;
    width: 550px;
    height: 380px;
    margin: 0 auto;
    background: #DAC5A70D;

}
.client-border-bor-3{
    border: 1px solid #DAC5A726;
    width: 550px;
    height: 380px;
    margin: 30px auto;
    background: #DAC5A70D;

}
.client-border-bor-ll{
    border: 1px solid #DAC5A726;
    width: 550px;
    height: 380px;
    margin: 0 auto;
    background: #DAC5A70D;

}
.bol-wid-nav{
    width: 490px;
    margin: 50px auto;
}
.bol-wid-nav h2{
    color: #DAC5A7;
}
.bol-wid-nav p{
    color: #DAC5A799;
   
}
.is-a-top{
    margin-top: 10px;
}
.IMG-svg{
    display: flex;
    margin-top: 30px;
}
.IMG-svg img{
    width: 70px;
}
.Smith{
    margin-left: 20px;
    margin-top: 15px;
}
.CONTENT-NAV-COL{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.CONTENT-NAV-COL2{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
}
.CONTENT-NAV-COL3{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
}
.arik-andreson{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 50px;
}
.arik-andreson h1{
    margin-top: 200px;
    font-size: 50px;
    color: #DAC5A7;
}
.arik-images-pol img{
    width: 400px;
}
.arik-display{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}
.arik-display h2{
    color: #DAC5A7;
}
.arik-display p{
    color: #DAC5A799
}
.bacgraund{
    background: #DAC5A71A;
    height: 1100px;
}
.text{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.in{
    margin-top: 100px;
    color: #DAC5A7;
}
.text-1{
    display: flex;
    justify-content: center;
    color: #DAC5A7;
    font-size: 30px;
    margin-top: 30px;
}
.text-1 h1{
    display: flex;
    justify-content: center;
    
}
.make{
    font-size: 35px;
}
.help{
    display: flex;
    justify-content: center;
}
.text-2{
    display: flex;
    justify-content: center;
    color: #DAC5A799;
    margin-top: 10px;
}
.col1{
    display: flex;
    justify-content: center;
    background: #DAC5A7;
    width: 110px;
    padding: 10px;
}
.nav-col{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1500px;
    color: #DAC5A7;
}
.col2{
    margin-top: 150px;
}

.txt{
    margin-top: 50px;
}
.tx2{
    margin-top: 25px;
}
.pol{
    display: flex;
    justify-content: center;
    background: #DAC5A7;
    width: 130px;
    padding: 10px;
    margin-top: 25px;
    color: #000;
}
.rol{
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    width: 1500px;
    color: #DAC5A799;
}
.pol2 h1{
    font-size: 70px;
}
@media screen and (max-width:600px) {
    .blor-img img{
        width: 300px;
    }
    .blor-text h1{
        font-size: 50px;
    }
    .blor-img-2{
        display: none;
    }
    .content-blor{
        flex-wrap: wrap;
        width: 90%;
    }
    .blor-img-next img{
        width: 90%;
    }
    .display{
        flex-wrap: wrap;
        width: 90%;
    }
    .blor-wid{
        width: 310px;
        margin: 30px auto;
    }
    .blor-border{
        margin: 20px auto;
    }
    .blor-border-nav-cont{
        width: 100%;
    }
    .CONTENT-NAV-COL{
        flex-wrap: wrap;
        width: 90%;
    }
    .CONTENT-NAV-COL2{
        flex-wrap: wrap;
        width: 90%;
    }
    .client-border-bor{
        width: 100%;
        margin: 0 auto;
        height: 360px;
    }
    .client-border-bor-2{
        width: 100%;
        margin: 40px auto;
        height: 400px
    }
    .client-border-bor-3{
        width: 100%;
        margin: 40px auto;
        height: 435px
    }
    .bol-wid-nav{
        width: 315px;
        margin: 0 auto;
    }
    .bol-wid-nav h2{
        font-size: 15px;
        margin-top: 30px;
    }
    .client-border-bor-ll{
        width: 100%;
        margin: 40px auto;
        height: 400px
    }
    .h1-h1-none{
        display: none;
    }
    .arik-andreson h1{
        width: 250px;
        margin-top: 10px;
    }
    .arik-andreson{
        flex-wrap: wrap;
        width: 90%;
    }
    .arik-display{
        display: none;
    }
    .arik-images-pol img{
        width: 300px;
    }
    .see{
        font-size: 13px;
    }
}